<!doctype html>
<html>
<head>
<title>EventeX</title>
<link type="text/css" href="{{ STATIC_URL }}css/styles.css"
rel="stylesheet" media="screen" />
</head>
<body>
  <div id="page">
    <div id="header">
      <center>
        <img src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
        <!--<img src="http://flaviolrf.herokuapp.com/static/img/logo.png" alt="EventeX" />-->
      </center>
  </div> 
  <hr>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
</div>
</body>
</html>